<div class="calculadora-card">

  <img src="./assets/imgs/logo.png" alt="Logo Donafit" class="logo"/>

  <h2>Calculadora</h2>

  <label for="unidade">🧪 Unidade de Peso:</label>
  <select [(ngModel)]="unidade" name="unidade">
    <option value="g">Gramas (g)</option>
    <option value="kg">Quilos (kg)</option>
  </select>

  <label>⚖️ Quantidade: (g ou kg)</label>
  <input type="number" [(ngModel)]="quantidadeBase" placeholder="Ex: 100" step="0.01" />

  <label>💵 Valor em R$ dessa quantidade:</label>
  <input type="number" [(ngModel)]="valorBase" placeholder="Ex: 5.00" step="0.01" />

  <label>⚖️ Gramas:</label>
  <input type="number" [(ngModel)]="quantidadeGramas" placeholder="Ex: 250" step="0.01" />

  <button (click)="calcular()">Calcular 💡</button>

  <div *ngIf="resultado1 !== null" class="resultado1">
    Valor Base: R$ {{resultado1 | number:'1.2-2'}}
  </div>

  <div *ngIf="resultado2 !== null" class="resultado2">
    Valor com Lucro: R$ {{resultado2 | number:'1.2-2'}}
  </div>
</div>